@import '~node_modules/modern-normalize/modern-normalize.css';
// font-family: 'Caveat Brush', cursive;
// font-family: 'Epilogue', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Montserrat Alternates', sans-serif;
// font-family: 'Roboto', sans-serif;
html {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;

  @include mobile {
    max-width: 320px;
  }

  @include tablet {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  @include desktop {
    max-width: 1280px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 20px 0;

  @include tablet {
    padding: 40px 0;
  }

  @include desktop {
    padding: 50px 0;
  }
}

.section-title {
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: $title-color;

  @include tablet {
    font-size: 32px;
    line-height: 1.22;
  }
}

.section-text {
  // font-family: 'Montserrat';
  // font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $text-color;

  @include desktop {
    font-size: 18px;
    line-height: 1.22;
  }
}
