$bg-main-color: #bdbdbd;
$bg-lighter-color: #f6f7f7;
$bg-white-color: #fafbfb;
$accent-color: #f3848c;
$text-color: #3c322d;
$title-color: #2e2520;
$text-light-color: #fcfcfc;
$text-white-color: #fff;
