<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav_logo" href="#">
        <img src="./images/logo.png" alt="logo" />
      </a>
      <button
        class="menu-btn"
        type="button"
        aria-expanded="false"
        aria-controls="nav__menu"
        data-menu-button
      >
        <svg width="30" height="20" aria-label="mobile menu burger">
          <use class="icon-close" href="./images/icons.svg#icon-close"></use>
          <use class="icon-burger" href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>

      <ul class="nav__menu" id="nav__menu" data-menu>
        <li class="nav__item">
          <a class="nav__link" href="#">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Program</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Speaker</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Price</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Reviews</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
